@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add custom global styles here */
body {
  background: linear-gradient(to bottom right, #2c1b14, #3e1f1c, #000);
  background-attachment: fixed;
  color: #f8f1e7;
}

/* Tracker Glow Animation */
@keyframes glowBar {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-glow-bar {
  background-size: 200% 100%;
  animation: glowBar 2.5s linear infinite;
}
.transition-max-height {
  transition: max-height 0.3s ease-in-out;
}